<footer class="text-black-50" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark container sticky-top">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link" href="https://goo.gl/maps/FNuYgyVozgkD9rJx7" target="_blank">Location</a>
            </li>
        </ul>
    </nav>
</footer>